<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869270249533-9acsram69qph9i186tmojjnkumqd71vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869270249533-9acsram69qph9i186tmojjnkumqd71vp</string>
	<key>API_KEY</key>
	<string>AIzaSyD6OkId9u3mhKDD3gAbrHBAy9JiKE2cJcs</string>
	<key>GCM_SENDER_ID</key>
	<string>869270249533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizzeria</string>
	<key>PROJECT_ID</key>
	<string>imghoster-28853</string>
	<key>STORAGE_BUCKET</key>
	<string>imghoster-28853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869270249533:ios:268102d2ad3c0ac08a4a54</string>
</dict>
</plist>